@model asmdemo.Models.Category

<div class="container col-md-6 text-center mt-3">
    <table class="table table-bordered">
        <tr>
            <th colspan="2" class="h3 bg-light text-success">@Model.Name</th>
        </tr>
        <tr>
            <th colspan="1">Category List</th>
            <td>
                @foreach (var author in Model.Authors)
                {
                    <a class="font-weight-bold text-italic" asp-controller="Author" asp-action="Detail" asp-route-id="@author.Id">
                        @author.Name
                    </a>
                    <br />
                }
            </td>
        </tr>
        <tr>
            <th>Book List</th>
            <td>
                @foreach (var author in Model.Authors)
                {
                    @foreach (var book in author.Books)
                    {
                        <a class="font-weight-bold text-italic" asp-controller="Book" asp-action="Detail" asp-route-id="@book.Id">
                            @book.Name : @book.Price $
                        </a>
                        <br />
                    }
                    <br />
                }
            </td>
        </tr>
    </table>
</div>