@model demoweb.Models.Mobile

<div class="container col-md-10 text-center mt-3">
    <div class="row">
        <div class="col">
            <img src="@Model.Image" width="300" height="300">
            <h4 class="text text-success">@Model.Name</h4>
        </div>
        <div class="col">
            <table class="table table-bordered">
                <tr>
                    <th colspan="2" class="h3 bg-light text-success">Mobile Info</th>
                </tr>
                <tr>
                    <th>Mobile Color</th>
                    <td>@Model.Color </td>
                </tr>
                <tr>
                    <th>Mobile Quantity</th>
                    <th>
                        @if (@Model.Quantity == 0)
                        {
                            <p class="font-weight-bold">Out of stock</p>
                        }
                        else
                        {
                            <p>@Model.Quantity</p>
                        }
                    </th>
                </tr>
                <tr>
                    <th>Mobile Brand</th>
                    <td>
                        <a asp-controller="Brand" asp-action="Detail" asp-route-id="@Model.Brand.Id">
                            @Model.Brand.Name
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Mobile Origin</th>
                    <td>
                        <a asp-controller="Country" asp-action="Detail" asp-route-id="@Model.Brand.Country.Id">
                            @Model.Brand.Country.Name
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
