@model ICollection<Mobile>

<div class="container text-center mt-3">
    <h3 class="text text-primary mt-2 mb-2">Mobile Store</h3>
@*    hiển thị thông báo add order thành công*@
    @if (TempData["Success"] != null)
    {
        <p class="alert alert-danger">@TempData["success"]</p>
    }
    
    <div class="row">
        @*      Khu vực để hiển thị chức năng Sort*@
        <div class="col">
            <a class="btn btn-outline-danger" asp-controller="Mobile"
              asp-action="PriceAsc">Price Ascending</a>
            <a class="btn btn-outline-success" asp-controller="Mobile"
              asp-action="PriceDesc">Price Descending</a>
        </div>
        @*        Khu vực để hiển thị chức năng Search*@
        <div class="col">
            <form aap-controller="Mobile" asp-action="Search" method="post">
                <div class="form-group">
                    <input class="form-control" type="search" required name="keyword" placeholder="Search by mobile name" />
                </div>
            </form>
        </div>
    </div>

    @if (Model.Count == 0) 
   {
       <h4 class="text text-danger text-center"> No mobile found !</h4>
   }
    <div class="card-group">
        <div class="row">
            @foreach (var mobile in Model)
            {
                <div class="col-md-3 p-3">
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top" src="@mobile.Image" width="120" height="180">
                            <h4 class="text text-primary mt-3">@mobile.Name</h4>
                            <h5 class="text text-success">@mobile.Price $</h5>
                        </div>
                        @if (mobile.Quantity == 0)
                        {
                            <div class="card-subtitle">
                                <p class="text text-danger h2">Out of stock</p>
                            </div>
                        }
                        else
                        {
                            <div class="card-subtitle">
                                <h5 class="text text-danger">In-stock: @mobile.Quantity</h5>
                            </div>
                            <div class="card-footer">
                                <form asp-controller="Order" asp-action="Make">
                                    <input type="hidden" name="id" value="@mobile.Id" />
                                    <input class="form-control" type="number" name="quantity" required min="1" max="@mobile.Quantity">
                                    <div class="form-group mt-3">
                                        <input type="submit" class="btn btn-success" value="Make order"
                                        onclick="    return confirm('Are you sure to order this mobile ?');"
                                        />
                                    </div>
                                </form>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>
