@model demoweb.Models.Brand

<div class="container col-md-6 text-center mt-3">
    <table class="table table-bordered">
        <tr>
            <th colspan="2" class="h3 bg-light text-success">@Model.Name</th>
        </tr>
        <tr>
            <th>Country Name</th>
            <td>
                <a class="font-weight-bold text-italic" asp-controller="Country" asp-action="Detail" asp-route-id="@Model.Country.Id">
                    @Model.Country.Name
                </a>
        </tr>
        <tr>
            <th>Mobile List</th>
            <td>
                @foreach (var mobile in Model.Mobiles)
                {
                    <a class="font-weight-bold text-italic" asp-controller="Mobile" asp-action="Detail" asp-route-id="@mobile.Id">
                        @mobile.Name
                    </a>
                    <br />
                }
            </td>
        </tr>
    </table>
</div>
